/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  
  background-color: #ffffff;
  color: #000000;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #0d4211;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: fangsong ;
  font-size: 72px;
  color: #ffffff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

#menu{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* -------  Search Form ------- */

form {
  border: 2px solid #085321;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #0d5e3c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

#stay{
  background-color: #ffffff;
}

/* -------  Ideas------- */
#ideas{
  background-color: #5f6063;
}

#ideas h3{
  color: white;
  font-size: 30px;
}

#ideas h2{
  color: white;
  font-size: 40px;
}

/* -------  Footer ------- */

footer {
  background-color: #0e5c31;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

#menu{
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

form div{
  display: flex;
  justify-content: space-between;

}

/* -------  Media Query ------- */
@media all and (max-width:400px){
  .logo{
    font-size: 54px;
}

  ul#menu{
    font-size: 20px;
  }
}


@media all and (min-width: 768px){

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form div{
    flex-direction: column;
    width: 15%;

  }

  form button{
    width: 20%;
  }

  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form input, form select{
    width: 100%;
  }

  #about div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #about img{
    width: 25%;
  }

  .row{
    display: flex;
    gap: 10px;
  }

  .row div{
    flex: 1;
  }

  #host{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #host div{
    flex: 1;

  }

}
