/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  
  background-color: #ffffff;
  color: #000000;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #0d4211;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: fangsong ;
  font-size: 72px;
  color: #ffffff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px double rgb(0, 0, 0);
  padding: 10px;
}

form label {
  font-weight: bold;
  color: white;
}

form select,
form input {

  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: #fcfcfc;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

#menu{
  display: flex;
}

#stay{
  background-color: #5f6063;
}

#ideas{
  background-color: #5f6063;
}

#ideas h3{
  color: white;
  font-size: 30px;
}

#ideas h2{
  color: white;
  font-size: 40px;
}

/* -------  Footer ------- */

footer {
  background-color: #0e5c31;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

ul#menu{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

/* -------  Media Query ------- */
@media all and (max-width:350px){
  .logo{
    font-size: 45px;
}

  ul#menu{
    font-size: 20px;
  }
}


@media all and (min-width:351px){
  ul#menu{
    font-size: 25px;
    padding-bottom: 20px
  }

  .logo{
    font-size: 70px;
  }
}

@media all and (min-width: 768px){
  
  
  img{
    scale: 75%;
  }

  #ideas h3{
    text-align: center;
    font-size: 40px;

  }
  #ideas h2{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;

  }


  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form div {
    flex-direction: column;
    width: 15%;
  }

  form{
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  form button {
    width: 20%;
  }

  form div input, form div select {
    width: 95%;
    font-size: 90%;
  }
 

  #host{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #host div, #host img{
    width: 50%;
  }
  
  #about {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  #about img {
    width: 40%;
  }

}
